name: t4_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: Jost
      fonts:
        - asset: lib/assets/fonts/Jost-Regular.ttf
        - asset: lib/assets/fonts/Jost-Bold.ttf
          weight: 700

    - family: Lora
      fonts:
        - asset: lib/assets/fonts/Lora-Regular.ttf
